<html lang="en">
  <img src="./assets/logo.png" width="100">
<!--https://codepen.io/acarlie/pen/JjPKmmV-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
 
  <header id="nav-wrapper">
    <nav id="nav">
      <div class="nav left">
      </div>
      <div class="nav right">
        <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link"><span class="nav-link-span"><span class="u-nav">Login</span></span></a>
        <a routerLink="/registro" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link"><span class="nav-link-span"><span class="u-nav">Registro</span></span></a>
      </div>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>

</body>

</html>







