@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
.contenedor{
  width:50vh;
  display: flex;
  justify-content: center;
  border-color: rgb(254, 254, 254);
  border-radius:10px;
  background-color: rgb(104, 112, 108);
  box-shadow: 0px 0px 5px 1px black;

}

div {
  display: flex;
justify-content: center;
margin:20px;

}
input{
  width:90%;
}
 

