
<div class="contenedor">
 
<form class="login-form">
  <div><h1>Premios Un Orujo Lola {{titulo}}</h1></div>
  <div> <input type="email" [(ngModel)]="this.email" [ngModelOptions]="{standalone: true}" class="login-username" autofocus="true" required="true" placeholder="Email" /></div>
   
    <div><input type="password" [(ngModel)]="this.password" [ngModelOptions]="{standalone: true}" class="login-password" required="true" placeholder="Password" /></div>
    <div><input type="submit" (click)="this.login" name="Login" value="Login" class="login-submit" /></div>
    <button (click)="this.login()">Guardar</button>
    <div><a href="#" class="login-forgot-pass">forgot password?</a></div>
    <a routerLink="/registro" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link"><span class="nav-link-span">Registro</span></a>
 
</form>

</div>
<router-outlet></router-outlet>